body {
  font-family: Arial, sans-serif;
  background-color: #fbf2d5;
  margin: 0;
  padding: 0;
}

header {
  background-color: #394a51;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: #444;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

nav a {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 12px 25px;
  background: #ccc;
  border-radius: 7px;
  margin: 5px;
}

nav a:hover {
  color: orangered;
  background-color: #ddd;
}

.layout {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

#sidebar {
  max-height: 100%;
  width: 20%;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  position: sticky;
  top: 10px;
  background-color: #7fa99b;
}

#table_of_contents {
  padding: 20px;
  max-width: 100%;
  width: 100%;
}

#table_of_contents ul {
  padding-left: 15px;
  max-width: 100%;
}


#table_of_contents a:hover {
  color: orangered;
}

main {
  flex: 1;
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 0%;
}

main h2 {
  margin-top: 40px;
}

.item {
  background: #fdc57b;
  padding: 10px;
  border-radius: 4px;
  margin: 8px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-img-box {
  width: 250px;
  height: 250px;
  background: #fdc57b;
  border-radius: 4px;
  overflow: hidden;
  flex-shrink: 0;
}

.item-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-description {
  padding: 10px;
}

hr {
  margin-top: 30px;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid #fdc57b;
  margin: 20px 0;
  background: #000;
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-content {
  background-color: #333;
  color: #ccc;
  border-top: 3px solid #333;
  padding: 10px;
  text-align: left;
}

.footer-link {
  color: white;
}

.footer-link:hover {
  color: cyan;
}

@media (max-width: 1024px) {
  .layout {
    flex-wrap: wrap;
  }

  #sidebar {
    width: 20%;
  }

  main {
    flex: 1;
  }

}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  #sidebar {
    width: 100%;
    position: relative;
    top: auto;
    margin-bottom: 15px;
  }

  #table_of_contents {
    position: static;
    padding: 10px;
  }

  nav a {
    padding: 10px;
    margin: 4px;
  }

  main {
    padding: 15px;
  }

  .item {
    flex-direction: column;
    align-items: flex-start;
  }

  .item-img-box {
    width: 100%;
    height: auto;
  }

}

@media (max-width: 480px) {
  nav a {
    display: block;
    width: 100%;
    margin: 5px 0;
  }

  video {
    max-width: 100%;
    height: auto;
  }

}
